* {
  box-sizing: border-box;
  margin: 0 auto;

}

h1 {
  font-family:'Fjalla One', sans-serif;
  color: white;
  font-size: 5em;
  padding: 20px;
}

p {
  font-family:'Fjalla One', sans-serif;
  color: white;
  font-size: 2em;
  padding: 20px;
  position: static;;
  bottom: 100px;
}
.start-col {
  min-width: 33%;
  min-height: 100vh;
  /*border: 1px dotted red;*/
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  /* Below 5 lines taken from http://www.jeremycookson.com/top-10-css-hover-effects/*/
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}

#site-wrapper {
  min-width: 100vh;
  min-height: 100vh;
  background-color: black;
  margin: 0 auto;
  display: flex;
  /*justify-content: flex-end;*/
}

#x-img {
  background-color: #FF4F00;
  min-height: 100vh;
}

#y-img {
  background-color: #B23700;
  min-height: 100vh;
}

#z-img {
  background-color: #00FFE2;
  min-height: 100vh;
}

#count-in {
  min-width: 500px;
  min-height: 500px;
  background: blue;
  margin: 0;
  top: 200px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 2000ms, opacity 2000ms;
}

.start-col:hover{
/* Below five lines taken from http://www.jeremycookson.com/top-10-css-hover-effects/*/
  -webkit-transform:scale(1.02);
  -moz-transform:scale(1.02);
  -ms-transform:scale(1.02);
  -o-transform:scale(1.02);
  transform:scale(1.02);
}

.countDown-Style {
  min-width: 100%;
  min-height: 100vh;
  background-color: red;
  margin: 0 auto;
  /*display: flex;*/

}





/*#show {

    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       /*-moz-animation: fadein 2s; /* Firefox < 16 */*/
        /*-ms-animation: fadein 2s; /* Internet Explorer */*/
         /*-o-animation: fadein 2s; /* Opera < 12.1 */*/
            /*animation: fadein 2s;*/
/*}*/
