* {
  box-sizing: border-box;
  margin: 0 auto;

}

h1 {
  font-family:'Fjalla One', sans-serif;
  color: white;
  font-size: 5em;
  padding: 20px;
}

p {
  font-family:'Fjalla One', sans-serif;
  color: white;
  font-size: 2em;
  padding: 20px;
  position: static;;
  bottom: 100px;
}

#intro-count-down {
  font-size: 30em;
  text-align: center;
  color: black;
}


.start-col {
  min-width: 33%;
  min-height: 100vh;
  /*border: 1px dotted red;*/
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  /* Below 5 lines taken from http://www.jeremycookson.com/top-10-css-hover-effects/*/
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}

#site-wrapper-opening {
  min-width: 100vh;
  min-height: 100vh;
  background-color: black;
  margin: 0 auto;
  display: flex;
  /*justify-content: flex-end;*/
}

#site-wrapper-game {
  min-width: 100vh;
  min-height: 100vh;
  background-color: limegreen;
  margin: 0 auto;
  display: flex;

}

#questionText {
  margin-top: 50px;
  font-size: 3em;
}

#x-img {
  background-color: #FF4F00;
  min-height: 100vh;
}

#y-img {
  background-color: #B23700;
  min-height: 100vh;
}

#z-img {
  background-color: #00FFE2;
  min-height: 100vh;
}

#count-in {
  min-width: 500px;
  min-height: 500px;
  background: yellow;
  margin: 0;
  top: 200px;
}

#count-down-div{
  width: 100%;
  height: 100vh;
  background: yellow;
  margin: 0;
  position:relative;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}

#choices-div{
  background-color: black;
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  margin-top: 50px;
  justify-content: space-around;
  flex-direction: row;
}

.choice-button {
  height: 100px;
  width: 33%;
  border: none;
  background-color: white;

}
  /* "wobble" code taken from http://www.jeremycookson.com/top-10-css-hover-effects/*/

@-webkit-keyframes wobble {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes wobble {
  16.65% {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.wobble {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.wobble:hover {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/*#player-input:focus, input:focus{
    outline: none;
}

#player-input[type="text"], textarea {
  background-color : #d1d1d1;
}*/

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 2000ms, opacity 2000ms;
}

.more-hidden{
  display: none;
}


.start-col:hover{
/* Below five lines taken from http://www.jeremycookson.com/top-10-css-hover-effects/*/
  -webkit-transform:scale(1.02);
  -moz-transform:scale(1.02);
  -ms-transform:scale(1.02);
  -o-transform:scale(1.02);
  transform:scale(1.02);
}

/*.countDown-Style {
  min-width: 100%;
  min-height: 100vh;
  background-color: red;
  margin: 0 auto;
  display: flex;

}*/





/*#show {

    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       /*-moz-animation: fadein 2s; /* Firefox < 16 */*/
        /*-ms-animation: fadein 2s; /* Internet Explorer */*/
         /*-o-animation: fadein 2s; /* Opera < 12.1 */*/
            /*animation: fadein 2s;*/
/*}*/
